# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/home/ronaldo/_DESENVOLVIMENTO/angular/spiritual-care/src/app/goers/services/dist
/home/ronaldo/_DESENVOLVIMENTO/angular/spiritual-care/src/app/workers/workers/dist
/home/ronaldo/_DESENVOLVIMENTO/angular/spiritual-care/src/app/workers/services/dist
/home/ronaldo/_DESENVOLVIMENTO/angular/spiritual-care/src/app/goers/goers/dist

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/app/goers/goers/dist/goers.component.js
src/app/goers/services/dist/goers.service.js
src/app/shared/app-material/dist/app-material.module.js
src/app/shared/component/error-dialog/dist/error-dialog.component.js
src/app/shared/dist/shared.module.js
src/app/workers/services/dist/workers.service.js
src/app/workers/workers/dist/workers.component.js
src/app/goers/goers/dist/goers.component.js
src/app/goers/services/dist/goers.service.js
src/app/shared/app-material/dist/app-material.module.js
.gitignore
src/app/goers/services/dist/goers.service.js
src/app/shared/app-material/dist/app-material.module.js
src/app/workers/services/dist/workers.service.js
